body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(67, 75, 72);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    width: 800px;
    height: 600px;
    border-radius: 8px;
}

.login-box {
    padding: 30px;
    text-align: center;
    width: 500px;
    height: 300px;
    border: 2px solid;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0;
    color: gray;
    font-size: 18px;
    padding-bottom: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 70%;
}

label {
    white-space: nowrap;
}

#email {
    width: 90%;
    height: 40%;
    margin-bottom: 1rem;
    padding-left: 1em;
}

#pw {
    width: 90%;
    height: 40%;
    margin-bottom: 1rem;
    padding-left: 1em;
}

#login {
    margin-bottom: 1rem;
    height: 30%;
    width: 25%;
    background-color: rgb(71, 221, 226);
    border: none;
    color: #fff;
    text-align: center;
}

#rem {
    margin-bottom: 1rem;
    
}

